*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    background-color: grey;
    padding: 2rem;
    width: 20rem;
}
.grid{
    height: 20rem;
    width: 20rem;
    background-color: rgb(198, 198, 198);
    display: grid;
    grid-template: repeat(20,1fr) / repeat(20,1fr);
}
.food{
    max-height: 1fr;
    max-width: 1fr;
    background-image: url('/img/mela.png');
    background-size: cover;

}

.snake{
    background-color: green;
    border: 3px solid black;
    padding: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    grid-row:5 ;
    grid-column: 6;
    .eye{
        height: 20%;
        border: 1px solid black;
    }
    
}